.drum-pad {
    border: 3px solid green;
    flex: 1 1 auto;
    min-width: 30%;
    min-height: 30%;
    border-radius: 10px;
    padding: auto;
}

.drum-pad:hover {
    background-color: blue;
    cursor: pointer;
}